@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 p-5 bg-body-tertiary border rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-4">Kütüphane yönetimi projemize hoşgeldiniz!</h1>
        <p class="lead">Bu proje kütüphane yönetimi yapılacaktır.</p>
        <hr class="my-4">
        <p>Bu projede kullanılan teknolojiler ; .Net Core 7, Ef Core, Mssql, Solid prensipleri</p>
        <h2>Bu proje monolitic architecture ile hazırlanmıştır.</h2>
        <a class="btn btn-primary btn-lg" asp-controller="Personal" asp-action="Index">Kullanıcı sayfasına gitmek için tıklayınız</a>
        <a class="btn btn-primary btn-lg" asp-controller="Book" asp-action="Index">Kitap sayfasına gitmek için tıklayınız</a>
    </div>
</div>
