@model List<Book>
@{
    ViewData["Title"] = "BookOutsideLibrary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="BookOutsideLibraryController">
    <div class="row mt-3">
        <div class="table table-responsive">
            <div class="tile-body p-10">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <div class="row form-horizontal form-group-sm">
                            <div class="col-sm-12">
                                <div loading-container="tableBookOutsideLibraryParams.settings().$loading">
                                    <table ng-table="tableBookOutsideLibraryParams" class="table table-condensed table-bordered table-striped" ng-form="tableBookOutsideLibraryForm" disable-filter="isAdding" demo-tracked-table="tableTracker">
                                        <tr ng-repeat="row in $data" ng-form="rowBookOutsideLibraryForm" demo-tracked-table-row="row">
                                            <td data-title="'Kitap Adı'" filter="{BookName: 'text'}" sortable="'BookName'" ng-switch="row.isEditing" ng-class="BookName.$dirty ? 'bg-warning text-center' : 'text-center'" ng-form="BookName" demo-tracked-table-cell>
                                                <span ng-switch-default class="editable-text">{{row.BookName}}</span>
                                            </td>
                                            <td data-title="'Yazarı'" filter="{Author: 'text'}" sortable="'Author'" ng-switch="row.isEditing" ng-class="Author.$dirty ? 'bg-warning text-center' : 'text-center'" ng-form="Author" demo-tracked-table-cell>
                                                <span ng-switch-default class="editable-text">{{row.Author}}</span>
                                            </td>
                                            <td data-title="'ISBN'" filter="{ISBN: 'text'}" sortable="'ISBN'" ng-switch="row.isEditing" ng-class="ISBN.$dirty ? 'bg-warning text-center' : 'text-center'" ng-form="ISBN" demo-tracked-table-cell>
                                                <span ng-switch-default class="editable-text">{{row.ISBN}}</span>
                                            </td>
                                            <td data-title="'Alış Tarihi'" filter="{ReceivingDate: 'text'}" sortable="'ReceivingDate'" ng-switch="row.isEditing" ng-class="ReceivingDate.$dirty ? 'bg-warning text-center' : 'text-center'" ng-form="ReceivingDate" demo-tracked-table-cell>
                                                <span ng-switch-default class="editable-text">{{row.ReceivingDate | date:'dd-MM-yyyy hh:MM'}}</span>
                                            </td>
                                            <td data-title="'Geri Veriliş Tarihi'" filter="{ReturnDate: 'text'}" sortable="'ReturnDate'" ng-switch="row.isEditing" ng-class="ReturnDate.$dirty ? 'bg-warning text-center' : 'text-center'" ng-form="ReturnDate" demo-tracked-table-cell>
                                                <span ng-switch-default class="editable-text">{{row.ReturnDate | date:'dd-MM-yyyy hh:MM'}}</span>
                                            </td>
                                            @* <td data-title="'Kitabı Alan Kulanıcı Id'" filter="{PersonalId: 'text'}" sortable="'PersonalId'" ng-switch="row.isEditing" ng-class="PersonalId.$dirty ? 'bg-warning text-center' : 'text-center'" ng-form="PersonalId" demo-tracked-table-cell>
                                            <span ng-switch-default class="editable-text">{{row.PersonalId}}</span>
                                            </td> *@
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/pages/bookOutsideLibrary.js"></script>
}